<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$data->title?$data->title.'—':''}{$config['1']}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATICBACKEND__/layuiadmin/layui/css/layui.css" media="all">
  <script type="text/javascript" src="__STATICBACKEND__/other/jquery.min.js"></script>
  <script src="__STATICBACKEND__/layuiadmin/layui/layui.js"></script> 
  <link rel="stylesheet" href="__STATICWEB__/css/mian.css">
	<link rel="stylesheet" href="__STATICWEB__/js/blog.js">
  <link rel="Shortcut Icon" href="/uploads/logo/{$config['21']}" />
</head>
<body class="lay-blog">
    <div class="header">
      <div class="header-wrap">
        <h1 class="logo pull-left" >
           <a href="{:url('web/index/index')}" style="color:#fff;">
            <img src="/uploads/logo/{$config['21']}" alt="" class="logo-img">
            {$config['1']}
          </a>
        </h1>
       
        <div class="blog-nav pull-right">
          <a href="{:url('backend/index/index')}" target="_blank">
            <i class="layui-icon layui-icon-release" title="管理后台"></i>
          </a>
        </div>
        
      </div>
      

    </div>


