{include file="public/header" /}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                部门列表
                <a href="javascript:;"  class="layui-btn layui-btn-sm layui-btn-normal" onclick="add_data('添加部门',0)" style="float:right;margin-top: 10px;">+添加部门</a>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                  <thead>
                    <tr>
                        <th width="">编号</th>
                        <th width="">部门</th>
                        <th width="">描述</th>
                        <th width="">状态</th>
                        <th width="">操作</th>
                    </tr> 
                  </thead>
                  <tbody>
                    {foreach $data as $vo}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.group_name}</td>
                        <td>{$vo.desc}</td>
                        <td><span class="label {$vo['status']==1? 'label-success':'label-default'}  radius">{$vo['status']==1? '已启用' : '已禁用'}</span>
                        </td>
                        <td>
                            <div class="layui-btn-group">
                                <button class="layui-btn layui-btn-sm"  onclick="add_data('编辑公司权限',{$vo['id']})"><i class="layui-icon">&#xe642;</i></button>
                                <button class="layui-btn layui-btn-sm  layui-btn-danger" onclick="del({$vo.id})"><i class="layui-icon" >&#xe640;</i></button>
                            </div>
                        
                        </td>
                        
                    </tr>
                    {/foreach}
                  </tbody>
                </table>
            </div>
            <div class="pagelist">
            {$data->render()}
            </div>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
        function add_data(title,id){
            var url = "{:url('rule/groupAdd')}"+ '?id=' + id;
            x_admin_show(title,url);
        }
        function del(id){
            layer.confirm('确认要删除吗？',function(index){
                var url = "{:url('rule/groupDelete')}";
                jqueryAjax('POST',url,{id:id},successReload);
            });
        }
    </script>
{include file="public/footer" /}

