{include file="public/header" /}

<form class="layui-form"  style="margin-top:30px;width:90%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
    <div class="layui-form-item">
      <label class="layui-form-label">权限名称<span class="reqcolor">*</span></label>
      <div class="layui-input-block">
        <input type="text" name="title"  class="layui-input" lay-verify="required" value="{$data['title']?$data['title']:''}" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">权限路由<span class="reqcolor">*</span></label>
      <div class="layui-input-block">
        <input type="text" name="name"  class="layui-input" lay-verify="required" value="{$data['name']?$data['name']:''}" >
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="启用"  {if condition="$data['status']==1"} checked {/if}>

            <input type="radio" name="status" value="0" title="锁定" {if condition="$data['status']==0"} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item">
              <label class="layui-form-label">菜单项<span class="reqcolor">*</span></label>
              <div class="layui-input-block">
                <select name="left_nav" lay-verify="required" lay-search="">
                <option value="0" {if condition="$data['left_nav']==0 "} selected{/if}>否</option>
                 <option value="1" {if condition="$data['left_nav']==1 "} selected{/if}>是</option>
                 
                </select>
              </div>
          </div>
    <div class="layui-form-item">
      <label class="layui-form-label">图标<span class="reqcolor"></span></label>
      <div class="layui-input-block">
        <input type="text" name="icon"  class="layui-input"  value="{$data['icon']?$data['icon']:''}" >
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">排序</label>
      <div class="layui-input-block">
        <input type="number" name="ord"  class="layui-input"  value="{$data['ord']?$data['ord']:''}" >
      </div>
    </div>
   
    <div class="layui-form-item" style="text-align:center;">
      <div class="layui-input-block">
        <input  type="hidden" name='id' value="{$data['id']?$data['id']:''}" id='hidden-id'>
        <input  type="hidden" name='pid' value="{$data['pid']?$data['pid']:'0'}" id='hidden-pid'>
        <button class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>
      </div>
    </div>
</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;
    /* 自定义验证规则 */
    form.verify({
     
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
      var url = "{:url('rule/ruleAdd')}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
  });

</script>