{include file="public/header" /}
<style type="text/css">
  html{
    background: #fff;
  }
</style>
<div style="width:98%;margin:0 auto;margin-top: 20px; ">
    <div class="demotable">
      <form action="<?php echo url('SystemManage/loginlog'); ?>" method="get" >
        <div class="layui-input-inline">
            <input type="text" name="admin_name" placeholder="输入账号" autocomplete="off" class="layui-input" value="{$param['admin_name']?$param['admin_name']:''}" style="width:180px;">
        </div>
        <button class="layui-btn" data-type="reload">搜 索</button>
      
      </form>
    </div>
    <div class="layui-form">
      <table class="layui-table">
        <colgroup>
       
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>账号</th>
            <th>登录ip</th>
            <th>时间</th>
          </tr> 
        </thead>
        <tbody>
          {foreach $data as $v}
          <tr>
            <td>{$v.id}</td>
            <td>{$v.admin_name}</td>
            <td>{$v.ip}</td>
            <td>{$v.login_time|date="Y-m-d H:i:s",###}</td>
          </tr>
          {/foreach}
        </tbody>
      </table>
    </div>
    <div class="pagelist">
      {$data->render()}
    </div>
</div>
{include file="public/footer" /}
