{include file="public/header" /}
{include file="public/ueditor" /}
<style type="text/css">
  html{
    background-color:#fff;
  }
  .input_img_inline{
    float: none !important;
    width: 100px !important;
  }
  .layui-upload-list{
      display: inline-block;
  }
  .icon_view, .layui-upload-img {
      width: 80px;
      height: 80px;
  }
  </style>
<form class="layui-form"  style="margin-top:30px;width:80%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
     <div class="layui-form-item">
        <label class="layui-form-label">新闻标题<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required|title"  placeholder="" class="layui-input" value="{$data['ress']['title']?$data['ress']['title']:''}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">关键字<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="key_words" lay-verify="required|key_words"  placeholder="" class="layui-input" value="{$data['ress']['key_words']?$data['ress']['key_words']:''}">
        </div>
      </div>
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">摘 要<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
          <textarea placeholder="" class="layui-textarea" name="main" id="main" lay-verify="required">{$data['ress']['main']?$data['ress']['main']:''}</textarea>
        </div>
      </div>
      <div class="layui-form-item" style="margin-top: 10px;" id="add">
        <label class="layui-form-label" style="margin-top:30px;">主图<br/>(250*80)<span class="reqcolor">*</span></label>
        <div class="layui-upload layui-input-block">
             <button type="button" class="layui-btn" id="images">上传图片</button>
              <div class="layui-input-inline input_img_inline">
                  <?php  if(isset($data['ress']['id'])){  ?>
                  <a href="{$data['ress']['main_img']}" target="_blank"><img src="{$data['ress']['main_img']}" class="icon_view" title="点击查看完整图片"/></a>
                  <?php  } ?>
              </div>
              <div class="layui-upload-list">
                  <img class="layui-upload-img" style="border:none;" id="preview">
                  <p id="imgText1"></p>
              </div>
        </div>
      </div>
      <input type="hidden" name="main_img" id="imgurl" lay-verify="imgurl" value="{$data['ress']['main_img']?$data['ress']['main_img']:''}">
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">主要内容<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
          <textarea  name="contents"  id="contents" lay-verify="required">{$data['ress']['contents']?$data['ress']['contents']:''}</textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">文章分类<span style="color:red;">*</span></label>
        <div class="layui-input-block">
          <select name="cate_id" lay-verify="required" lay-search="">
            <?php  if(isset($data['catelist'])){  ?>
              {foreach data['catelist'] as $v}
              <!--{eq name="v.id" value="$data['ress']['cate_id']"}
               <option value="{$v.id}" selected>{$v.name}</option>
              {else /}
              <option value="{$v.id}">{$v.name}</option>
              {/eq} -->
              <option value="{$v.id}" {$v.id == $data['ress']['cate_id'] ?'selected':'';}>{$v.name}</option>
              {/foreach}
              <?php  } ?>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">作者</label>
          <div class="layui-input-inline">
            <input type="text" name="author" lay-verify="author" autocomplete="off" class="layui-input" value="{$data['ress']['author']?$data['ress']['author']:''}">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">新闻来源</label>
          <div class="layui-input-inline">
            <input type="text" name="from" lay-verify="from" autocomplete="off" class="layui-input" value="{$data['ress']['from']?$data['ress']['from']:''}">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">浏览量</label>
          <div class="layui-input-inline">
            <input type="number" name="num"  autocomplete="off" class="layui-input" value="{$data['ress']['num']?$data['ress']['num']:''}">
          </div>
        </div>
        
      </div>
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">新闻状态</label>
          <div class="layui-input-inline">
            <input name="status" value="1" title="上线"  type="radio" {if condition="$data['ress']['status']=='1'"}checked{/if}>
            <input name="status" value="-1" title="下线" type="radio" {if condition="$data['ress']['status']==-1"}checked{/if}>
          </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">最新</label>
            <div class="layui-input-block">
              <input type="checkbox" {if condition="$data['ress']['is_new']==1"} checked="" {/if} name="is_new" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">最热</label>
            <div class="layui-input-block">
              <input type="checkbox" {if condition="$data['ress']['is_hot']==1"} checked="" {/if}  name="is_hot" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">最好</label>
            <div class="layui-input-block">
              <input type="checkbox" {if condition="$data['ress']['is_best']==1"} checked="" {/if} name="is_best" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
            </div>
        </div>
      </div>
      
      <div class="layui-form-item">
        <label class="layui-form-label">外链接<span style="color:red;"></span></label>
        <div class="layui-input-block">
         <input type="text" name="link" lay-verify="link"  class="layui-input" value="{$data['ress']['link']?$data['ress']['link']:''}">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">排序<span style="color:red;"></span></label>
        <div class="layui-input-block">
         <input type="number" name="ord"  class="layui-input" value="{$data['ress']['ord']?$data['ress']['ord']:''}">
        </div>
      </div>
    <div class="layui-form-item" style="text-align:center;">
      <div class="layui-input-block">
        <input  type="hidden" name='id' value="{$data['ress']['id']?$data['ress']['id']:''}" id='hidden-id'>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>

      </div>
    </div>
</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form
    , upload = layui.upload;
    /* 自定义验证规则 */
    form.verify({
      title: function(value){
      if(value.length > 252){
        return '标题应小于252个字符！';
        }
      }
      ,key_words: function(value){
      if(value.length > 252){
        return '关键字应小于252个字符！';
        }
      }
      ,from: function(value){
      if(value.length > 252){
        return '长度应小于252个字符！';
        }
      }
      ,link: function(value){
      if(value.length > 252){
        return '长度应小于252个字符！';
        }
      }
      ,imgurl: function(value){
          var imgurl = $('#imgurl').val();
          if(imgurl == ''){
               return '请上传主图';
          } 
      }
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
      var url = "{:url('News/add')}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
    //普通图片上传
        var uploadInst = upload.render({
            elem: '#images'
            , method: 'POST'
            , url: "{:Url('Upload/layuiImgUpload')}"
            , field: 'img'
            , data: {
                dir: 'news' +
                ''
            }
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#preview').attr('src', result); //图片链接（base64）
                    console.log(result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                } else {
                    var path = res.data;
                    $('#imgurl').val(path);
                    data['imgurl'] = path;
                }
                //上传成功
            }
            , error: function () {
                $('#preview').attr('src', '')
                layer.alert('主图大小不能超过300k，请重新选择!');
                //演示失败状态，并实现重传
                // var imgText1 = $('#imgText1');
                // imgText1.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                // imgText1.find('.demo-reload').on('click', function () {
                //     uploadInst.upload();
                // });
            }
        });
  });

</script>