{include file="public/header" /}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
          	<form action="<?php echo url('AdminUsers/adminList'); ?>" method="get" class="layui-form">
          	<div class="layui-form-item">
          		{if condition="$data['gp_role']==1 "}
			    <div class="layui-input-inline" style="">
			        <select name="group_id" lay-verify="required" lay-search="" >
			          <option value="">所属部门</option>
			          {foreach $data['groupList'] as $v}
			          	{eq name="v.id" value="$data['param']['group_id']"}
			          		<option value="{$v.id}" selected>{$v.group_name}</option>
						{else /}
						<option value="{$v.id}">{$v.group_name}</option>
						{/eq}
			          {/foreach}
			        </select>
			    </div>
			    {/if}
	            <div class="layui-input-inline">
	                <input type="text" name="real_name"  autocomplete="off" class="layui-input" placeholder="姓名" value="{$data['param']['real_name']?$data['param']['real_name']:''}">
	            </div>
	            <div class="layui-input-inline" style="width:150px;">
	            	<input type="text" class="layui-input"  placeholder="电话" id="" name="mobile" value="{$data['param']['mobile']?$data['param']['mobile']:''}">
	            </div>
	           	<div class="layui-input-inline" style="width:120px;" >
	           		<input type="text" class="layui-input" placeholder="登陆账号" id="" name="admin_name" value="{$data['param']['admin_name']?$data['param']['admin_name']:''}">
	           	</div>
	            <button class="layui-btn" >搜索</button>
	            </form>
	            {if condition="$data['gp_role']!=3 "}
	            <a href="javascript:;"  class="layui-btn" onclick="add_data('添加员工',0)"><i class="layui-icon">&#xe654;</i>添加</a>
	            {/if}

	        </div>
          	
            <table class="layui-table">
              <thead>
                <tr>
                  	<th width="">ID</th>
                  	<th width="">登录账号</th>
					<th width="">姓名</th>
					<th width="">所属部门</th>
					<th width="">职位</th>
					<th width="">邮箱</th>
					<th width="">电话</th>
					<th width="">注册时间</th>
					<th width="">上次登录</th>
					<th width="">是否锁定</th>
					<th width="">操作</th>
                </tr> 
              </thead>
              <tbody>
              	{foreach $data['data'] as $k=>$vo}
				<tr class="text-hidden-{$vo->id}">
					<td>{$vo->id}</td>
					<td>{$vo->admin_name}</td>
					<td>{$vo->real_name}</td>
					<td>
					<?php  if(isset($vo->hasGroupone->group_name)){ ?>
						{$vo->hasGroupone->group_name}
					<?php  } ?>
					</td>
					<td>{$vo->group_role?$data['group_role_name'][$vo->group_role]:''}</td>
					<td>{$vo->email}</td>
					<td>{$vo->mobile}</td>
					<td>{$vo.created_time}</td>
					<td>
						{$vo.login_time}
					</td>
					<td class="td-status-{$vo.id}">
						<span class="label {$vo['status']? 'label-success':'label-default'}  radius">{$vo['status']? '已启用' : '已锁定'}</span>
					</td>
					<td>
						
						{if condition="$data['gp_role']==2 "}
							{if condition="$vo->group_role!=2"}
							<a title="编辑" href="javascript:;" onclick="add_data('编辑管理员',{$vo.id})" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a> 
							<a title="重置密码" href="javascript:;" onclick="edit_pwd('重置密码',{$vo.id})" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe673;</i></a> 
							<a title="删除" href="javascript:;" onclick="del({$vo.id})" class="ml-5" style="text-decoration:none"  ><i class="layui-icon">&#xe640;</i></a>
							
							{/if}
						{elseif condition="$data['gp_role']==3 "}

						{else}
						<a title="编辑" href="javascript:;" onclick="add_data('编辑管理员',{$vo.id})" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a> 
						<a title="重置密码" href="javascript:;" onclick="edit_pwd('重置密码',{$vo.id})" class="ml-5" style="text-decoration:none"><i class="layui-icon">&#xe673;</i></a> 
						<a title="删除" href="javascript:;" onclick="del({$vo.id})" class="ml-5" style="text-decoration:none"  ><i class="layui-icon">&#xe640;</i></a>
						
						{/if}
						</div>
						</td>
					</tr>
				</tr>
				{/foreach}
              </tbody>
            </table>
          </div>
          <div class="pagelist">
			{$data['data']->render()}
		  </div>
        </div>
      </div>
    </div>
  </div>
	<script type="text/javascript">
	    function add_data(title,id){
	        var url = "{:url('AdminUsers/adminAdd')}"+ '?id=' + id;
	        x_admin_show(title,url);
	    }
	    function edit_pwd(title,id){
	        var url = "{:url('AdminUsers/editPwd')}"+ '?id=' + id;
	        x_admin_show(title,url,400,300);
	    }

	    function del(id){
	    	layer.confirm('确认要删除吗？',function(index){
		      	var url = "{:url('adminUsers/adminDelete')}";
		      	jqueryAjax('POST',url,{id:id},successReload);
	      	});
	    }
	</script>
{include file="public/footer" /}

